.outer_style1 {
     background-color: grey;
     color: white;
 }
.outer_style1 .style_button {

    width: 200px;
    height: 50px;
    background-color: yellow;
    color: rgb(0, 255, 136);

 }
.outer_style1 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.outer_style2 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.outer_style2 {
     background-color: rgb(164, 179, 29);
     color: burlywood;
 }
.outer_style2 .style_button {

    width: 200px;
    height: 50px;
    background-color: rgb(226, 149, 34);
    color: rgb(241, 45, 127);

 }
.outer_style3 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.outer_style3 {
     background-color: rgb(230, 161, 212);
     color: crimson;
 }
.outer_style3 .style_button {

    width: 200px;
    height: 50px;
    background-color: rgb(148, 233, 233);
    color: blueviolet;

 }
.style1 {
     background-color: grey;
     color: white;
 }
.style1 .style_button {

    width: 200px;
    height: 50px;
    background-color: yellow;
    color: rgb(0, 255, 136);

 }
.style1 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.style2 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.style2 {
     background-color: rgb(164, 179, 29);
     color: burlywood;
 }
.style2 .style_button {

    width: 200px;
    height: 50px;
    background-color: rgb(226, 149, 34);
    color: rgb(241, 45, 127);

 }
.style3 .ready_button {

    width: 300px;
    height: 50px;
    background-color: yellow;
    border: crimson solid 1px;
    color: rgb(0, 255, 136);

 }
.style3 {
     background-color: rgb(230, 161, 212);
     color: crimson;
 }
.style3 .style_button {

    width: 200px;
    height: 50px;
    background-color: rgb(148, 233, 233);
    color: blueviolet;

 }
